*,
 ::after,
 ::before {
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

@media (min-width: 768px) {
    .col-md-4 {
        flex: 0 0 33.33%;
        max-width: 33.33%;
    }
}

.jumbotron {
    background-image: url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/yellow-flowers-1587061884.jpg");
}

#paragraf1 {
    color: white;
}

.display-3 {
    columns: white;
}